<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8" />
		<title>{{ user.name }}'s WatchList</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
	<h2>
		<img class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}" alt="avatar">
		{{ user.name }}'s Watchlist
	</h2>
	{# 使用length过滤器获取movies的长度 #}
	<p>{{ movies | length }} Titles</p>
	<ul class="movie-list">
		{% for movie in movies %}	
		<li>{{ movie.title }} - {{ movie.year }}</li>
		{% endfor %}
	</ul>
	<img class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" alt="working totoro">
	<footer>
		<small>&copy; 2018<a href="http://helloflask.com/tutorial">HelloFlask</a></small>
	</footer>
	</body>
</html>
